<style type="text/css">
body {
	background:url(http://1.bp.blogspot.com/-k-doWksQ-Bc/UJz8sOYTvjI/AAAAAAAAEc8/hqsaiGyi9vA/s1600/IMG_8109+copy.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#container {
	font-family: 'Roboto Slab', serif;
	margin: 100px auto;
	width: 500px;
}
#opacity {
	border-radius: 10px;
	padding: 20px;
	background-color: #FFF;
	opacity: 0.7;  
}
#text h1, h4, form{
	color: rgba(0,0,0); 
}
input, textarea {
	display: block;
}
form {
	position: center;
	margin-left: 50px;
	font-weight: bold;
}
textarea {
	width: 370px;
	height: 100px;
}
.btn {
	margin-top: 20px;
	margin-left: 270px;
	width: 100px;
	background-color: 
}
</style>

<body>
<div id='container'>
	<div id='opacity'>
	<div id='top'>

		<div id='text'><h1>Bake for Your Community</h1>
			<h4>Our confectioner are passionate about the happiness their sweets bring to others. If you fit this description, join us in providing happiness to your friendly neighbors.</h4>
		</div>
	</div>
	<form id='form'>
		Your Name: <input type='text'>
		Your Email: <input type='text'>
		Your Zip Code: <input type='text'>
		Your Experience: <textarea></textarea>
		Your Specialties: <textarea></textarea>
		<input class="btn btn-primary"  type='submit' value='Send'>
	</form>
</div>
</div>
</body>