<style type="text/css">
	body{
		background: url(http://images.123hdwallpapers.com/20150702/cream-cake-berries-rose-dessert-plate-1680x1050.jpg) no-repeat;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    background-size: cover;
	}

	#container {
		font-family: 'Roboto Slab', serif;
		margin: 100px auto;
		width: 1000px;
		background-color: white;
		padding-left: 50px;
		padding-top: 20px;
		padding-bottom: 20px;
		opacity: 0.6;
		border-radius: 10px
	}

	hr {
		color: black;
	}
	.question {
	 color: black;
}
</style>
<body>
<div id='container'>
	<h1>Frequently Asked Questions</h1>
	<hr>
	<div class='question'>
		<h3>General Questions</h3>
		<hr>
			<h4 class='question'>What is Sugar Rush?</h4>
			<p class='answer'>People use the Sugar Rush to discover and order home-made desserts made by your communities' confectioners. Sugar Rush handles payment processing and offers a variety of home-made sweets near your home.</p>
		<hr>
	</div>
	<div class='quesiton'>
		<h3>Member Questions</h3>
		<hr>
			<h4 class='question'>How do members know the food is safe to eat?</h4>
			<p class='answer'>We take food safety very seriously. To that end, all of our confectioners have passed a taste test, kitchen inspection, and possess a California Food Handler’s License to get on our platform.

Our confectioners are then constantly monitored through our robust review system. Unlike traditional food establishments which may get reviewed only once a year, our confectioners are reviewed every time they share a dish.</p>
		<hr>
	</div>
	<div class='question'>
		<h3>Confectioner Questions</h3>
		<hr>
			<h4 class='question'>How do I apply to become a Sugar Rush Patissiers?</h4>
			<p class='answer'>We have a simple application process through the app to help you get started. Simply sned us an email to start! Our Head of Confectioner Relations will then order a dish from you, taste it, view your kitchen, and answer any questions you may have. If all goes well, you will go live on our platform and be able to share your desserts with our and your community. Refund requests, abuse reports, or bad reviews could lead to your removal from the platform.</p>
		<hr>
	</div>
</div>
</body>